html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'btn-font';
  src: url('Fonts/AC-Atomic.ttf') format('truetype');
}

body{
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: top;
  padding: 0;
  width: 100%;
  z-index: 1;
  height: 2vh;
  gap: 10vw;
  background-color: #ffffff;
}

#menu{
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 3vh;
  font-family: Helvetica, sans-serif, sans-serif;
  height: fit-content;
  padding: 5px 10px;
  width: fit-content;
  cursor:pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  margin: 10px;
  border-radius: 0 5px;
}

#menu:hover{
  scale: 1.1;
  opacity: 1;
  color: red;
}

.logo{
  width: 7vw;
  border-radius: 0 0 10px;
}

#btn {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0; 
  height: 100vh;
  width: fit-content;
  padding: 0 70px;
  justify-content: center;
  align-items: first baseline;
  background-color: rgb(0, 0, 0);
  gap: 50px;
  flex-wrap: wrap;
  transform-origin: right;
  transform: translateX(500px); 
  transform: rotateY(-90deg);
  opacity: 0;
  transition: all 1s ease;
}

#btn.active {
  opacity: 1;
  transform: translateX(0);
}

a{
  color:rgb(255, 255, 255);
  font-family: "btn-font", sans-serif;
  text-decoration: none;
  font-size: 4vw;
  transition: all 1s ease;
}

.hover-flip {
  color:rgb(255, 255, 255);
  font-family: "btn-font", sans-serif;
  text-decoration: none;
  font-size: 4vw;

  position: relative;
  display: inline-block;
  overflow: hidden;
  perspective: 1000px;
}

.hover-flip::before {
  content: attr(data-text);
  position: absolute;
  top: 110%;
  width: 100%;
  color: #ff0000;
  transform: rotateX(-90deg);
  transform-origin: top;
  transition: all 0.7s ease;
}

.hover-flip span,
.hover-flip {
  display: inline-block;
  transition: all 0.4s ease;
  transform-origin: bottom;
}

.hover-flip:hover {
  color: transparent;
}

.hover-flip:hover::before {
  top: -1px;
  transform: rotateX(0deg);
}


#close{
  position: relative;
  font-family: btn-font, sans-serif;
  background-color: red;
  top:-20px;
  color: white;
  border: none;
  font-size: 3vw;
  cursor: pointer;
  transition: all 1s ease;
}

#close:hover{
  color: black;
  background-color: white;
}

#main, #dev, #photo, #design{
  display: flex;
  margin: 0 10px;
  font-size: 2vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100dvh;
  border-radius: 10px;
}

.carousel {
  display:none;
  margin: 0 10px;
  background-color: red;
  border-radius: 10px;
  margin: 0 10px;
  width: fit-content;
  height: 100dvh;
  z-index: -1;
  overflow-y: scroll;
}

.slide {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(50px);
  transition: all 1.5s ease-in-out;
}

.slide.active {
  transform: translateX(0px);
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}