@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&family=Orbitron:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white !important; 
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #f4f4f4; }
::-webkit-scrollbar-thumb { background: #FF001D; }